*{
    margin: 0;
    padding: 0;
}
body{
    font-size: 14px;
    line-height: 1.7;
    background: url(image/1.JPG) no-repeat fixed;
    background-position-y: 100%;
}
ul{
    list-style:none;
}
#content{
    width: 800px;
    margin: 0 auto;
    padding: 20px;
}
#content h1{
    color: khaki;
}
#content p{
    font-size: 14px;
    border-bottom: 1px dotted #0088bb;
    color: gray;
}
#content .item{
    padding: 20px;
    margin-bottom: 20px;
    border: 1px dotted #0088bb;
}
#content .item h2{
    font-size: 16px;
    font-weight: bold;
    border-bottom: 2px solid #0088bb;
    margin-bottom: 10px;
    color: beige;
}
#content .item li{
    display: inline;
    margin-right: 10px;
}
#content .item li a img,
#content .item li a video{
    width: 230px;
    height: 230px;
    padding-left: 5px;
    padding-bottom: 10px;
    border: none;
    border-radius: 35% 0;
}
#content .item li a img:hover{
    transform: scale(1.1);
}
#menu{
    position: fixed;
    top: 100px;
    left: 50%;
    margin-left: 400px;
    width: 80px;
}
#menu ul li a{
    display: block;
    margin: 5px 0;
    font-size: 14px;
    font-weight: bold;
    color: gray;
    width: 80px;
    height:50px;
    line-height: 50px;
    background-color: cornflowerblue;
    text-align: center;
    text-decoration: none;
}
#menu ul li a:hover,
#menu ul li a.timeLine{
    background-color: #f60;
    color: gainsboro;
    border-radius: 10px 10px 0 0;
}

/*.carousel{*/
    /*width: 500px;*/
    /*height: 265px;*/
    /*margin:100px auto;*/
    /*position: relative;*/
    /*overflow: hidden;*/
    /*border: 1px solid green;*/
/*}*/
/*.carousel-inner{*/
    /*width: 500px;*/
    /*height: 200px;*/
    /*border: 1px solid red;*/
/*}*/

